@(message: String)

@main("Manage Jobs") {

<div class="container">
 
<table class="table table-hover" data-list="@routes.JobController.getJobList">
	<tr>
		<th>JobId</th>
		<th>User</th>
		<th>Fib#</th>
		<th>Progress</th>
	</tr>
</table>
 
</div>

}
<!--  
<table class="table table-hover">
	<tr>
		<th></th>
		<th>JobId</th>
		<th>Job Name</th>
		<th>Status</th>
		<th>Progress</th>
	</tr>
	
	<tr>
		<td>
			<div class="btn-group" data-toggle="buttons-checkbox">
			  <button type="button" class="btn ">Cancel</button>
			  <button type="button" class="btn ">Pause</button>
			  <button type="button" class="btn disabled">Resume</button>
			</div>
		</td>
		<td>123</td>
		<td>Clean Car</td>
		<td>Started</td>
		<td><div class="progress progress-striped active">
					<div class="bar" style="width: 40%;"></div>
			</div>
		</td>
	</tr>
	
	<tr>
		<td>
			<div class="btn-group" data-toggle="buttons-checkbox">
			  <button type="button" class="btn">Cancel</button>
			  <button type="button" class="btn">Pause</button>
			  <button type="button" class="btn disabled">Resume</button>
			</div>
		</td>
		<td>457</td>
		<td>Clean Garage</td>
		<td>Submitted</td>
		<td><div class="progress progress-striped active">
					<div class="bar" style="width: 0%;"></div>
			</div>
		</td>
	</tr>
	

	<tr>
		<td>
			<div class="btn-group" data-toggle="buttons-checkbox">
			  <button type="button" class="btn disabled">Cancel</button>
			  <button type="button" class="btn disabled">Pause</button>
			  <button type="button" class="btn disabled">Resume</button>
			</div>
		</td>
		<td>001</td>
		<td>Morning Walk</td>
		<td>Completed</td>
		<td><div class="progress">
					<div class="bar" style="width: 100%;"></div>
			</div>
		</td>
	</tr>

</table>
-->


