@(title: String)(content: Html)

<!DOCTYPE html>


<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="@routes.Assets.at("stylesheets//bootstrap.min.css")" rel="stylesheet" media="screen"> 
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">     
  </head>
  <body>
    <h1>@title</h1>
    @content
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>    
  </body>
</html>